<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Bedwars Overlay</title>
</head>
<body>
    <div class="initButton" onclick="window.open('/', 'mywin','left=20,top=20,width=750,height=500,toolbar=1,resizable=0'); return false;"><p>Welcome to SonyTV Bedwars Overlay.<br>Click here to initiate.</p></div>
    <p onclick="window.open('/')"> temp debug link</p>
</body>
</html>